<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moviefacts</title>
</head>
<body>
    {% block heading %}
    <h2>Movie Palace</h2>
    <hr>
    {% endblock heading %}

    {% block content %}
    {% endblock content %}

    {% block ending %}
    <p>Copyright 2023-{% now "Y" %}</p>
    {% endblock ending %}
</body>
</html>