{% extends "moviefacts/base.html" %}

{% block content %}
    <h3>Movies</h3>
    <ul>
        {% for movie in movies %}
            <tr class="{% cycle 'row1' 'row2' %}">
                <li>
                    {{forloop.counter}} {{movie.0|upper}} was released in {{ movie.1|center:"20" }}
                </li>
            </tr>
        {% endfor %}
    </ul>

    <h3>Goodies</h3>
    <ul>
        {% for goodie in confectionaries %}
            <li>{{goodie.0}} &mdash; ${{goodie.1}}</li>
        {% empty %}
            <li> <i>There are no goodies available</i> </li>
        {% endfor %}
    </ul>
{% endblock content %}
