{% extends 'users/base.html' %}

{% block content %}
<h4>Send password reset link:</h4>
<hr>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Reset">
</form>

<a href="{% url 'users:dashboard' %}">Back to dashboard</a>

{% endblock content %}