{% extends "app_poll/base.html" %}

{% block content %}
{% if latest_question_list %}
    <ul>
        {% for question in latest_question_list %}
            <li>
                <a href="{% url 'app_poll:detail' question.id %}">{{ question.question_text }}</a>
            </li>
        {% endfor %}
    </ul>

{% else %}
    <p>No polls available.</p>
{% endif %}
{% endblock content %}