{% extends 'users/base.html' %}

{% block content %}
    <h4>Hello, {{ user.username|default:'guest' }}!</h4>
<div>
    {% if user.is_authenticated %}
        <a href="{% url 'users:logout' %}">Logout</a>
        <a href="{% url 'users:password_change' %}">Change password</a>
    {% else %}
        <a href="{% url 'users:login' %}">Login</a>
    {% endif %}
</div>



{% endblock content %}