{% extends 'users/base.html' %}

{% block content %}
    <h4>Register</h4>
<div>
<form method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Register">
</form>
    <a href="{% url 'users:login' %}">Login</a>
</div>
{% endblock content %}